<div class="wrapper">
  <div class="screens">
    <div class="sections">
      <div class="buttons">
        <button class="button-1">Convert</button>
        <button class="button-2">Compare</button>
      </div>
    </div>
  </div>
  <form action="#">
    <div class="felids">
      <div class="felid-1">
        <div class="amount">
          <p class="amount-text">Amount</p>
          <input class="amount-input" type="text" value="1" />
        </div>
        <div class="select-box-1">
          <div class="select-felid-1">
            <p>From</p>
            <div class="img">
              <img src="https://flagsapi.com/EG/flat/64.png" alt="flag" />
              <select class="text-felid">
                <option value="EGP">EGP</option>
                <option value="NPR">NPR</option>
                <option value="INR">INR</option>
                <option value="PKR">PKR</option>
                <option value="MAD">MAD</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="felid-1">
        <div class="select-box-1">
          <div class="select-felid-1">
            <p>Target Currency</p>
            <div class="Target-Currency">
              <div class="img">
                <img src="https://flagsapi.com/US/flat/64.png" alt="flag" />
                <select class="text-felid">
                  <option value="USD">USD</option>
                  <option value="NPR">NPR</option>
                  <option value="INR">INR</option>
                  <option value="PKR">PKR</option>
                  <option value="MAD">MAD</option>
                </select>
              </div>
              <!-- <p>Target Currency</p> -->
              <div class="img">
                <img src="https://flagsapi.com/FR/flat/64.png" alt="flag" />
                <select class="text-felid">
                  <option value="FR">FR</option>
                  <option value="NPR">NPR</option>
                  <option value="INR">INR</option>
                  <option value="PKR">PKR</option>
                  <option value="MAD">MAD</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="felid-1">
        <div class="amount">
          <p class="amount-text">Amount</p>
          <input class="amount-input" type="text" value="1" />
        </div>
        <div class="amount">
          <p class="amount-text">Amount</p>
          <input class="amount-input" type="text" value="1" />
        </div>
      </div>
      <button class="Compare">Compare</button>
    </div>
  </form>
</div>
